<style>
    input {
        margin: 0.25em auto;
        font-size: 2em;
        height: 1.75em;
    }
    form {
        margin: 10em;
        border: 2px black solid;
        text-align: center;
    }
    h1 {
        margin: 1.5em auto;
        text-align: center;
        font-size: 3em;
    }
</style>
<form method='post' enctype='multipart/form-data'>
    <h1>Cadastro</h1>
    <input type='text' name='nome' placeholder='nome' required>
    <br>
    <input type='text' name='RG' placeholder='rg' required>
    <br>
    <input type='text' name='data_nascimento' placeholder='data_nascimento' required>
    <br>
    <input type='text' name='local_nascimento' placeholder='local_nascimento' required>
    <br>
    <input type='text' name='CEP' placeholder='cep' required>
    <br>
    <input type='text' name='tel_pessoal' placeholder='tel_pessoal' required>
    <br>
    <input type='text' name='residencia' placeholder='residencia' required>
    <br>
    <input type='text' name='profissao' placeholder='profissao'>
    <br>
    <input type='text' name='tel_profissional' placeholder='tel_profissional'>
    <br>
    <input type='text' name='escola' placeholder='escola'>
    <br>
    <input type='text' name='curso_serie' placeholder='curso_serie'>
    <br>
    <input type='submit'>
</form>